h1 { 
    color: White;
    text-align: center;
    background-color: blue;
    }

h2 {
    color: blue;
    text-align: center;
    background-color: white;
    }

h3 {
    color: white;
    text-align: center;
    background-color: blue;
    list-style: none;
    }
    